<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xyz.digital_cash.dcash">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".DigitalCash"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:vmSafeMode="false"
        tools:replace="android:icon,android:hardwareAccelerated">
        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DCASHMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.PaswwordResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EarnByInvitingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyNetworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.AddShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".earn.IncomeFactory"
            android:label="@string/title_activity_income_factory"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Sample TEST AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- Sample LIVE AdMob App ID: ca-app-pub-8456560515447750~2322879071 -->
        <!-- Sample LIVE AdMob App ID: ca-app-pub-7470896348181474~3905856817 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8456560515447750~2322879071" />

        <activity
            android:name=".earn.VideoWallActivity"
            android:label="@string/title_activity_video_wall"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".earn.FBWallActivity"
            android:label="@string/title_activity_fbwall"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".earn.LookEarnActivity"
            android:label="@string/title_activity_look_earn"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="5784r5ZmxSPrnKKKy6sxC4kdrV6DJtMOhnDefo_TD1LMXHPdnoDraAWsCI55gliwlAe7rGR_6JNEfgS9ZzOGbd" />

        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.applovin.adview.AppLovinConfirmationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".earn.FlurryMainActivity"
            android:label="@string/title_activity_flurry_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".earn.FlurryInterstitialOnExitActivity"
            android:label="@string/title_activity_flurry_interstitial_on_exit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".earn.VungleNewActivity"
            android:label="@string/title_activity_vungle_new"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>